.error {
  display: flex;
  align-items: flex-start;
  gap: var(--space-6);
  font-size: var(--fs-small);
  line-height: var(--lh-170);
  color: var(--color-error);
}

/* 1行目の文字の高さの真ん中にそろえる */
.icon {
  flex-shrink: 0;
  margin-top: calc((1lh - 16px) / 2);
}
